<h2>保持している食材</h2>
<form [formGroup]="form">
    <div formArrayName="ownIngredients">
        <div *ngFor="let ingredient of ownIngredients.controls; let i = index">
            <div [formGroupName]="i">
                <div>食材名：<input type="text" formControlName="ownIngredientName">
                    <button (click)="removeOwnIngredient(i)">食材削除</button>
                </div>
            </div>
        </div>
    </div>
    <button (click)="addOwnIngredient()">食材追加</button>
</form>

<h3>Debug</h3>
<ng-container *ngIf="form.value">
  <pre>{{ form.value | json }}</pre>
</ng-container>